### Example 2 - Book Data: Compute Average Daily Spread

In this example, we're going to compute the average daily spread for Tritanium at Jita IV - Moon 4 - Caldari Navy Assembly Plant in The Forge.  The average daily spread is the average of the spread computed for each of the 288 snapshots which make up a day of order book data \(5 minute snapshots, 12 per hour, 288 per day\).  As with Example 1, we'll first show how to compute spread from first principles, then we'll introduce libraries which make the process easier.

In [1]:
# Standard imports
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
# EveKit imports
from evekit.reference import Client
from evekit.util import convert_raw_time

In [2]:
# Settings for the day we want to compute
# We retreive type, region and station ID from the SDE
sde_client = Client.SDE.get()
type_query = "{values: ['Tritanium']}"
region_query = "{values: ['The Forge']}"
station_query = "{values: ['Jita IV - Moon 4 - Caldari Navy Assembly Plant']}"
type_id = sde_client.Inventory.getTypes(typeName=type_query).result()[0][0]['typeID']
region_id = sde_client.Map.getRegions(regionName=region_query).result()[0][0]['regionID']
station_id = sde_client.Station.getStations(stationName=station_query).result()[0][0]['stationID']
compute_date = convert_raw_time(1483228800000) # 2017-01-01 12:00 AM UTC
print("Using type_id=%d, region_id=%d, station_id=%d at %s" % (type_id, region_id, station_id, str(compute_date)))

Using type_id=34, region_id=10000002, station_id=60003760 at 2017-01-01 00:00:00

In [3]:
# Let's develop code for computing spread from an order book retrieved from the Orbital Enterprises market data service
# 
# To start, we'll need the client for the service.  We'll also fetch the first book available on our compute date.
mdc_client = Client.MarketData.get()
sample_book = mdc_client.MarketData.book(typeID=type_id, regionID=region_id, date=str(compute_date) + " UTC").result()[0]
sample_book

{'bookTime': 1483228800000,
 'orders': [{'buy': True,
   'duration': 90,
   'issued': 1481705362000,
   'locationID': 60002242,
   'minVolume': 1,
   'orderID': 4708935394,
   'orderRange': 'solarsystem',
   'price': 5,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 43758803,
   'volumeEntered': 200000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483056665000,
   'locationID': 60001591,
   'minVolume': 1,
   'orderID': 4719143619,
   'orderRange': 'station',
   'price': 4.86,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 13303703,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 30,
   'issued': 1483014155000,
   'locationID': 60001594,
   'minVolume': 1,
   'orderID': 4731076447,
   'orderRange': 'station',
   'price': 4.85,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 13381581,
   'volumeEntered': 20000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483020345000,
   'locationID': 60002818,
   'minVolume': 1,
   'orderID': 4731159119,
   'orderRange': 'station',
   'price': 4.83,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 9718405,
   'volumeEntered': 30000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483023984000,
   'locationID': 60010819,
   'minVolume': 1,
   'orderID': 4731212373,
   'orderRange': 'station',
   'price': 4.81,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 996935,
   'volumeEntered': 1000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483204836000,
   'locationID': 60004051,
   'minVolume': 1,
   'orderID': 4733726383,
   'orderRange': '3',
   'price': 4.75,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 4900182,
   'volumeEntered': 5000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483033648000,
   'locationID': 60003211,
   'minVolume': 1000,
   'orderID': 4731376068,
   'orderRange': '2',
   'price': 4.7,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 776638,
   'volumeEntered': 5000000},
  {'buy': True,
   'duration': 30,
   'issued': 1481599466000,
   'locationID': 60003055,
   'minVolume': 1,
   'orderID': 4711604426,
   'orderRange': 'station',
   'price': 4.67,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 5000000,
   'volumeEntered': 5000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483207240000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4733760768,
   'orderRange': '1',
   'price': 4.66,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 1702478781,
   'volumeEntered': 2000000000},
  {'buy': True,
   'duration': 30,
   'issued': 1480877019000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4701276671,
   'orderRange': 'station',
   'price': 4.65,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 78774738,
   'volumeEntered': 200000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482622428000,
   'locationID': 1021705628874,
   'minVolume': 1,
   'orderID': 4726038430,
   'orderRange': '1',
   'price': 4.63,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 27605009,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1480751724000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4699131616,
   'orderRange': 'station',
   'price': 4.62,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 7,
   'issued': 1483099737000,
   'locationID': 60010195,
   'minVolume': 1,
   'orderID': 4732257219,
   'orderRange': 'solarsystem',
   'price': 4.61,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 8642416,
   'volumeEntered': 10000000},
  {'buy': True,
   'duration': 90,
   'issued': 1480872129000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4701158083,
   'orderRange': 'station',
   'price': 4.6,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 3,
   'issued': 1482981181000,
   'locationID': 60002359,
   'minVolume': 1,
   'orderID': 4730740860,
   'orderRange': 'station',
   'price': 4.52,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 80000,
   'volumeEntered': 80000},
  {'buy': True,
   'duration': 30,
   'issued': 1482087899000,
   'locationID': 60002359,
   'minVolume': 1,
   'orderID': 4714691792,
   'orderRange': 'station',
   'price': 4.51,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 5326094,
   'volumeEntered': 8000000},
  {'buy': True,
   'duration': 90,
   'issued': 1480784461000,
   'locationID': 60002290,
   'minVolume': 1,
   'orderID': 4641995905,
   'orderRange': 'station',
   'price': 4.5,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 83947801,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482378565000,
   'locationID': 60002749,
   'minVolume': 1,
   'orderID': 4722740618,
   'orderRange': 'solarsystem',
   'price': 4.49,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 29010498,
   'volumeEntered': 30000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482570018000,
   'locationID': 60010195,
   'minVolume': 1,
   'orderID': 4710737688,
   'orderRange': 'station',
   'price': 4.4,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 6199571,
   'volumeEntered': 50000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483203467000,
   'locationID': 60014659,
   'minVolume': 1,
   'orderID': 4733705222,
   'orderRange': 'solarsystem',
   'price': 4.26,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 910122,
   'volumeEntered': 1500000},
  {'buy': True,
   'duration': 90,
   'issued': 1482948711000,
   'locationID': 60014659,
   'minVolume': 1,
   'orderID': 4730236421,
   'orderRange': 'station',
   'price': 4.25,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 7847451,
   'volumeEntered': 10000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483202713000,
   'locationID': 1021705628874,
   'minVolume': 1000,
   'orderID': 4727637102,
   'orderRange': '5',
   'price': 4.06,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 161739297,
   'volumeEntered': 200000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483058760000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4731817819,
   'orderRange': 'station',
   'price': 4.05,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 10000000,
   'volumeEntered': 10000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483111252000,
   'locationID': 60001873,
   'minVolume': 1,
   'orderID': 3664144403,
   'orderRange': 'solarsystem',
   'price': 4.04,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 108280678,
   'volumeEntered': 120000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482827593000,
   'locationID': 60004210,
   'minVolume': 1,
   'orderID': 4725545268,
   'orderRange': '3',
   'price': 4.03,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 98266117,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482987949000,
   'locationID': 60002284,
   'minVolume': 1,
   'orderID': 4730814840,
   'orderRange': 'solarsystem',
   'price': 4.02,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 10000000,
   'volumeEntered': 10000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482585287000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4725469328,
   'orderRange': 'station',
   'price': 4.01,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 30,
   'issued': 1482938784000,
   'locationID': 1022719559274,
   'minVolume': 1,
   'orderID': 4730065968,
   'orderRange': '1',
   'price': 4,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 249999605,
   'volumeEntered': 250000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482942647000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4730119998,
   'orderRange': '5',
   'price': 3.92,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 18239,
   'volumeEntered': 100000},
  {'buy': True,
   'duration': 30,
   'issued': 1482418066000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4723166699,
   'orderRange': 'station',
   'price': 3.54,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 1000000,
   'volumeEntered': 1000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482100664000,
   'locationID': 1021705628874,
   'minVolume': 1,
   'orderID': 4718867273,
   'orderRange': '1',
   'price': 3.53,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 35000000,
   'volumeEntered': 35000000},
  {'buy': True,
   'duration': 90,
   'issued': 1483134591000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732829596,
   'orderRange': 'station',
   'price': 3.5,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 432000,
   'volumeEntered': 432000},
  {'buy': True,
   'duration': 90,
   'issued': 1483220494000,
   'locationID': 1021705628874,
   'minVolume': 1,
   'orderID': 4733937435,
   'orderRange': 'region',
   'price': 3,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 9558129,
   'volumeEntered': 10000000},
  {'buy': True,
   'duration': 90,
   'issued': 1480543953000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4696407011,
   'orderRange': 'station',
   'price': 2.03,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 6500000,
   'volumeEntered': 6500000},
  {'buy': True,
   'duration': 90,
   'issued': 1482374428000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4722693092,
   'orderRange': '40',
   'price': 1,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 94442990,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1481398638000,
   'locationID': 1021705628874,
   'minVolume': 1,
   'orderID': 4708497872,
   'orderRange': '1',
   'price': 0.22,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 7,
   'issued': 1482703689000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4727051122,
   'orderRange': '3',
   'price': 0.1,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 20000000,
   'volumeEntered': 20000000},
  {'buy': True,
   'duration': 90,
   'issued': 1482100028000,
   'locationID': 60004051,
   'minVolume': 1,
   'orderID': 4718854361,
   'orderRange': '40',
   'price': 0.07,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1480879533000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4701331362,
   'orderRange': 'station',
   'price': 0.06,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 100000000,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1479656464000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4647080938,
   'orderRange': '40',
   'price': 0.05,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 99582322,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1477261861000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4660693701,
   'orderRange': '40',
   'price': 0.04,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 2147459887,
   'volumeEntered': 2147483647},
  {'buy': True,
   'duration': 90,
   'issued': 1476478191000,
   'locationID': 60004048,
   'minVolume': 1,
   'orderID': 4653737048,
   'orderRange': '40',
   'price': 0.03,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 98404473,
   'volumeEntered': 100000000},
  {'buy': True,
   'duration': 90,
   'issued': 1478633453000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4672262015,
   'orderRange': 'station',
   'price': 0.01,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 300000000,
   'volumeEntered': 300000000},
  {'buy': False,
   'duration': 1,
   'issued': 1483226327000,
   'locationID': 60015027,
   'minVolume': 1,
   'orderID': 4734004757,
   'orderRange': 'region',
   'price': 4.28,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 69699,
   'volumeEntered': 103750},
  {'buy': False,
   'duration': 90,
   'issued': 1483171052000,
   'locationID': 60007498,
   'minVolume': 1,
   'orderID': 4733287152,
   'orderRange': 'region',
   'price': 4.69,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 857984,
   'volumeEntered': 5612007},
  {'buy': False,
   'duration': 7,
   'issued': 1483218235000,
   'locationID': 60006424,
   'minVolume': 1,
   'orderID': 4733909056,
   'orderRange': 'region',
   'price': 4.78,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 4810649,
   'volumeEntered': 4810649},
  {'buy': False,
   'duration': 30,
   'issued': 1483206083000,
   'locationID': 60014659,
   'minVolume': 1,
   'orderID': 4733743885,
   'orderRange': 'region',
   'price': 4.8,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 82907,
   'volumeEntered': 103178},
  {'buy': False,
   'duration': 7,
   'issued': 1483173183000,
   'locationID': 60000904,
   'minVolume': 1,
   'orderID': 4733309024,
   'orderRange': 'region',
   'price': 4.9,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 1879491,
   'volumeEntered': 1879491},
  {'buy': False,
   'duration': 3,
   'issued': 1483145574000,
   'locationID': 60004228,
   'minVolume': 1,
   'orderID': 4733004460,
   'orderRange': 'region',
   'price': 4.92,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 146940,
   'volumeEntered': 386389},
  {'buy': False,
   'duration': 90,
   'issued': 1482835462000,
   'locationID': 60010819,
   'minVolume': 1,
   'orderID': 4728695647,
   'orderRange': 'region',
   'price': 4.97,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 313,
   'volumeEntered': 923587},
  {'buy': False,
   'duration': 14,
   'issued': 1483226970000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4734012460,
   'orderRange': 'region',
   'price': 4.98,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 18203348,
   'volumeEntered': 93203348},
  {'buy': False,
   'duration': 90,
   'issued': 1483053049000,
   'locationID': 60003178,
   'minVolume': 1,
   'orderID': 4731726787,
   'orderRange': 'region',
   'price': 4.99,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 1430977,
   'volumeEntered': 31571377},
  {'buy': False,
   'duration': 30,
   'issued': 1483075669000,
   'locationID': 60014659,
   'minVolume': 1,
   'orderID': 4732015784,
   'orderRange': 'region',
   'price': 5,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 31955,
   'volumeEntered': 31955},
  {'buy': False,
   'duration': 30,
   'issued': 1482713380000,
   'locationID': 60002818,
   'minVolume': 1,
   'orderID': 4727179352,
   'orderRange': 'region',
   'price': 5.01,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 181207,
   'volumeEntered': 181207},
  {'buy': False,
   'duration': 30,
   'issued': 1483226874000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4733958972,
   'orderRange': 'region',
   'price': 5.04,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 216035544,
   'volumeEntered': 279747003},
  {'buy': False,
   'duration': 90,
   'issued': 1483226470000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4734006417,
   'orderRange': 'region',
   'price': 5.05,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 284908507,
   'volumeEntered': 286799330},
  {'buy': False,
   'duration': 1,
   'issued': 1483165985000,
   'locationID': 60000655,
   'minVolume': 1,
   'orderID': 4733232986,
   'orderRange': 'region',
   'price': 5.07,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 7991,
   'volumeEntered': 7991},
  {'buy': False,
   'duration': 90,
   'issued': 1483215235000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4733872149,
   'orderRange': 'region',
   'price': 5.09,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 47683843,
   'volumeEntered': 151742512},
  {'buy': False,
   'duration': 30,
   'issued': 1483136727000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732869553,
   'orderRange': 'region',
   'price': 5.1,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 48785194,
   'volumeEntered': 103945003},
  {'buy': False,
   'duration': 90,
   'issued': 1482601251000,
   'locationID': 60000448,
   'minVolume': 1,
   'orderID': 4725716294,
   'orderRange': 'region',
   'price': 5.11,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 473,
   'volumeEntered': 9473},
  {'buy': False,
   'duration': 90,
   'issued': 1482315067000,
   'locationID': 60013045,
   'minVolume': 1,
   'orderID': 4721808779,
   'orderRange': 'region',
   'price': 5.12,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 80527,
   'volumeEntered': 80527},
  {'buy': False,
   'duration': 90,
   'issued': 1483093219000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732193443,
   'orderRange': 'region',
   'price': 5.13,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 114509016,
   'volumeEntered': 276929603},
  {'buy': False,
   'duration': 90,
   'issued': 1483085097000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732109315,
   'orderRange': 'region',
   'price': 5.15,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 290865838,
   'volumeEntered': 290865838},
  {'buy': False,
   'duration': 90,
   'issued': 1483076309000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732021836,
   'orderRange': 'region',
   'price': 5.16,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 1486362592,
   'volumeEntered': 1486362592},
  {'buy': False,
   'duration': 90,
   'issued': 1482556979000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4725141509,
   'orderRange': 'region',
   'price': 5.17,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 471384990,
   'volumeEntered': 471384990},
  {'buy': False,
   'duration': 90,
   'issued': 1482512154000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4724477047,
   'orderRange': 'region',
   'price': 5.18,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 172145558,
   'volumeEntered': 172145558},
  {'buy': False,
   'duration': 90,
   'issued': 1483122143000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4706195881,
   'orderRange': 'region',
   'price': 5.19,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 450000000,
   'volumeEntered': 450000000},
  {'buy': False,
   'duration': 90,
   'issued': 1483077656000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732035985,
   'orderRange': 'region',
   'price': 5.2,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 53123,
   'volumeEntered': 53123},
  {'buy': False,
   'duration': 7,
   'issued': 1482758569000,
   'locationID': 60000361,
   'minVolume': 1,
   'orderID': 4727597844,
   'orderRange': 'region',
   'price': 5.21,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 8375,
   'volumeEntered': 8375},
  {'buy': False,
   'duration': 7,
   'issued': 1483132011000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4732783920,
   'orderRange': 'region',
   'price': 5.22,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 998367,
   'volumeEntered': 998367},
  {'buy': False,
   'duration': 90,
   'issued': 1483183882000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4733417226,
   'orderRange': 'region',
   'price': 5.24,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 121852,
   'volumeEntered': 121852},
  {'buy': False,
   'duration': 30,
   'issued': 1483060463000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4731842468,
   'orderRange': 'region',
   'price': 5.25,
   'regionID': 10000002,
   'typeID': 34,
   'volume': 5327929,
   'volumeEntered': 5327929},
  {'buy': False,
   'duration': 14,
   'issued': 1482969214000,
   'locationID': 60003760,
   'minVolume': 1,
   'orderID': 4730590565,

In [4]:
# Orders are ordered with buys first, descending in price, followed by sells in ascending price
# Let's pull these out to simplify things
buy = [x for x in sample_book['orders'] if x['buy'] and x['locationID'] == station_id ]
sell = [x for x in sample_book['orders'] if not x['buy'] and x['locationID'] == station_id ]

In [5]:
# By construction, spread is now just the difference in price between the first buy order and 
# the first sell order.  However, there are some corner cases where one or both of these
# lists are empty.  In those cases, there isn't a spread.  Here's a function which 
# computes the spread
def compute_spread(buy, sell):
    if len(buy) == 0 or len(sell) == 0:
        return None
    return sell[0]['price'] - buy[0]['price']

compute_spread(buy, sell)

0.3200000000000003

In [6]:
# All that remains is to compute the spread for all snapshots for the target day.
# We'll do that by iterating over 288 intervals from our start time, retrieving 
# the order book at each step.  This will require 288 calls to the market data service
# so this will take a few minutes to run.
current_time = compute_date
five_minute_delta = datetime.timedelta(minutes=5)
spreads = []
for _ in range(288):
    print("Computing spread for %s" % str(current_time), end="...")
    next_book = mdc_client.MarketData.book(typeID=type_id, regionID=region_id, date=str(current_time) + " UTC").result()[0]
    buy = [x for x in next_book['orders'] if x['buy'] and x['locationID'] == station_id ]
    sell = [x for x in next_book['orders'] if not x['buy'] and x['locationID'] == station_id ]
    next_spread = compute_spread(buy, sell)
    if next_spread is not None:
        spreads.append(next_spread)
    current_time += five_minute_delta
    print("done")

np.average(spreads)

Computing spread for 2017-01-01 00:00:00...done
Computing spread for 2017-01-01 00:05:00...done
Computing spread for 2017-01-01 00:10:00...done
Computing spread for 2017-01-01 00:15:00...done
Computing spread for 2017-01-01 00:20:00...done
Computing spread for 2017-01-01 00:25:00...done
Computing spread for 2017-01-01 00:30:00...done
Computing spread for 2017-01-01 00:35:00...done
Computing spread for 2017-01-01 00:40:00...done
Computing spread for 2017-01-01 00:45:00...done
Computing spread for 2017-01-01 00:50:00...done
Computing spread for 2017-01-01 00:55:00...done
Computing spread for 2017-01-01 01:00:00...done
Computing spread for 2017-01-01 01:05:00...done
Computing spread for 2017-01-01 01:10:00...done
Computing spread for 2017-01-01 01:15:00...done
Computing spread for 2017-01-01 01:20:00...done
Computing spread for 2017-01-01 01:25:00...done
Computing spread for 2017-01-01 01:30:00...done
Computing spread for 2017-01-01 01:35:00...done
Computing spread for 2017-01-01 01:40:00...done
Computing spread for 2017-01-01 01:45:00...done
Computing spread for 2017-01-01 01:50:00...done
Computing spread for 2017-01-01 01:55:00...done
Computing spread for 2017-01-01 02:00:00...done
Computing spread for 2017-01-01 02:05:00...done
Computing spread for 2017-01-01 02:10:00...done
Computing spread for 2017-01-01 02:15:00...done
Computing spread for 2017-01-01 02:20:00...done
Computing spread for 2017-01-01 02:25:00...done
Computing spread for 2017-01-01 02:30:00...done
Computing spread for 2017-01-01 02:35:00...done
Computing spread for 2017-01-01 02:40:00...done
Computing spread for 2017-01-01 02:45:00...done
Computing spread for 2017-01-01 02:50:00...done
Computing spread for 2017-01-01 02:55:00...done
Computing spread for 2017-01-01 03:00:00...done
Computing spread for 2017-01-01 03:05:00...done
Computing spread for 2017-01-01 03:10:00...done
Computing spread for 2017-01-01 03:15:00...done
Computing spread for 2017-01-01 03:20:00...done
Computing spread for 2017-01-01 03:25:00...done
Computing spread for 2017-01-01 03:30:00...done
Computing spread for 2017-01-01 03:35:00...done
Computing spread for 2017-01-01 03:40:00...done
Computing spread for 2017-01-01 03:45:00...done
Computing spread for 2017-01-01 03:50:00...done
Computing spread for 2017-01-01 03:55:00...done
Computing spread for 2017-01-01 04:00:00...done
Computing spread for 2017-01-01 04:05:00...done
Computing spread for 2017-01-01 04:10:00...done
Computing spread for 2017-01-01 04:15:00...done
Computing spread for 2017-01-01 04:20:00...done
Computing spread for 2017-01-01 04:25:00...done
Computing spread for 2017-01-01 04:30:00...done
Computing spread for 2017-01-01 04:35:00...done
Computing spread for 2017-01-01 04:40:00...done
Computing spread for 2017-01-01 04:45:00...done
Computing spread for 2017-01-01 04:50:00...done
Computing spread for 2017-01-01 04:55:00...done
Computing spread for 2017-01-01 05:00:00...done
Computing spread for 2017-01-01 05:05:00...done
Computing spread for 2017-01-01 05:10:00...done
Computing spread for 2017-01-01 05:15:00...done
Computing spread for 2017-01-01 05:20:00...done
Computing spread for 2017-01-01 05:25:00...done
Computing spread for 2017-01-01 05:30:00...done
Computing spread for 2017-01-01 05:35:00...done
Computing spread for 2017-01-01 05:40:00...done
Computing spread for 2017-01-01 05:45:00...done
Computing spread for 2017-01-01 05:50:00...done
Computing spread for 2017-01-01 05:55:00...done
Computing spread for 2017-01-01 06:00:00...done
Computing spread for 2017-01-01 06:05:00...done
Computing spread for 2017-01-01 06:10:00...done
Computing spread for 2017-01-01 06:15:00...done
Computing spread for 2017-01-01 06:20:00...done
Computing spread for 2017-01-01 06:25:00...done
Computing spread for 2017-01-01 06:30:00...done
Computing spread for 2017-01-01 06:35:00...done
Computing spread for 2017-01-01 06:40:00...done
Computing spread for 2017-01-01 06:45:00...done
Computing spread for 2017-01-01 06:50:00...done
Computing spread for 2017-01-01 06:55:00...done
Computing spread for 2017-01-01 07:00:00...done
Computing spread for 2017-01-01 07:05:00...done
Computing spread for 2017-01-01 07:10:00...done
Computing spread for 2017-01-01 07:15:00...done
Computing spread for 2017-01-01 07:20:00...done
Computing spread for 2017-01-01 07:25:00...done
Computing spread for 2017-01-01 07:30:00...done
Computing spread for 2017-01-01 07:35:00...done
Computing spread for 2017-01-01 07:40:00...done
Computing spread for 2017-01-01 07:45:00...done
Computing spread for 2017-01-01 07:50:00...done
Computing spread for 2017-01-01 07:55:00...done
Computing spread for 2017-01-01 08:00:00...done
Computing spread for 2017-01-01 08:05:00...done
Computing spread for 2017-01-01 08:10:00...done
Computing spread for 2017-01-01 08:15:00...done
Computing spread for 2017-01-01 08:20:00...done
Computing spread for 2017-01-01 08:25:00...done
Computing spread for 2017-01-01 08:30:00...done
Computing spread for 2017-01-01 08:35:00...done
Computing spread for 2017-01-01 08:40:00...done
Computing spread for 2017-01-01 08:45:00...done
Computing spread for 2017-01-01 08:50:00...done
Computing spread for 2017-01-01 08:55:00...done
Computing spread for 2017-01-01 09:00:00...done
Computing spread for 2017-01-01 09:05:00...done
Computing spread for 2017-01-01 09:10:00...done
Computing spread for 2017-01-01 09:15:00...done
Computing spread for 2017-01-01 09:20:00...done
Computing spread for 2017-01-01 09:25:00...done
Computing spread for 2017-01-01 09:30:00...done
Computing spread for 2017-01-01 09:35:00...done
Computing spread for 2017-01-01 09:40:00...done
Computing spread for 2017-01-01 09:45:00...done
Computing spread for 2017-01-01 09:50:00...done
Computing spread for 2017-01-01 09:55:00...done
Computing spread for 2017-01-01 10:00:00...done
Computing spread for 2017-01-01 10:05:00...done
Computing spread for 2017-01-01 10:10:00...done
Computing spread for 2017-01-01 10:15:00...done
Computing spread for 2017-01-01 10:20:00...done
Computing spread for 2017-01-01 10:25:00...done
Computing spread for 2017-01-01 10:30:00...done
Computing spread for 2017-01-01 10:35:00...done
Computing spread for 2017-01-01 10:40:00...done
Computing spread for 2017-01-01 10:45:00...done
Computing spread for 2017-01-01 10:50:00...done
Computing spread for 2017-01-01 10:55:00...done
Computing spread for 2017-01-01 11:00:00...done
Computing spread for 2017-01-01 11:05:00...done
Computing spread for 2017-01-01 11:10:00...done
Computing spread for 2017-01-01 11:15:00...done
Computing spread for 2017-01-01 11:20:00...done
Computing spread for 2017-01-01 11:25:00...done
Computing spread for 2017-01-01 11:30:00...done
Computing spread for 2017-01-01 11:35:00...done
Computing spread for 2017-01-01 11:40:00...done
Computing spread for 2017-01-01 11:45:00...done
Computing spread for 2017-01-01 11:50:00...done
Computing spread for 2017-01-01 11:55:00...done
Computing spread for 2017-01-01 12:00:00...done
Computing spread for 2017-01-01 12:05:00...done
Computing spread for 2017-01-01 12:10:00...done
Computing spread for 2017-01-01 12:15:00...done
Computing spread for 2017-01-01 12:20:00...done
Computing spread for 2017-01-01 12:25:00...done
Computing spread for 2017-01-01 12:30:00...done
Computing spread for 2017-01-01 12:35:00...done
Computing spread for 2017-01-01 12:40:00...done
Computing spread for 2017-01-01 12:45:00...done
Computing spread for 2017-01-01 12:50:00...done
Computing spread for 2017-01-01 12:55:00...done
Computing spread for 2017-01-01 13:00:00...done
Computing spread for 2017-01-01 13:05:00...done
Computing spread for 2017-01-01 13:10:00...done
Computing spread for 2017-01-01 13:15:00...done
Computing spread for 2017-01-01 13:20:00...done
Computing spread for 2017-01-01 13:25:00...done
Computing spread for 2017-01-01 13:30:00...done
Computing spread for 2017-01-01 13:35:00...done
Computing spread for 2017-01-01 13:40:00...done
Computing spread for 2017-01-01 13:45:00...done
Computing spread for 2017-01-01 13:50:00...done
Computing spread for 2017-01-01 13:55:00...done
Computing spread for 2017-01-01 14:00:00...done
Computing spread for 2017-01-01 14:05:00...done
Computing spread for 2017-01-01 14:10:00...done
Computing spread for 2017-01-01 14:15:00...done
Computing spread for 2017-01-01 14:20:00...done
Computing spread for 2017-01-01 14:25:00...done
Computing spread for 2017-01-01 14:30:00...done
Computing spread for 2017-01-01 14:35:00...done
Computing spread for 2017-01-01 14:40:00...done
Computing spread for 2017-01-01 14:45:00...done
Computing spread for 2017-01-01 14:50:00...done
Computing spread for 2017-01-01 14:55:00...done
Computing spread for 2017-01-01 15:00:00...done
Computing spread for 2017-01-01 15:05:00...done
Computing spread for 2017-01-01 15:10:00...done
Computing spread for 2017-01-01 15:15:00...done
Computing spread for 2017-01-01 15:20:00...done
Computing spread for 2017-01-01 15:25:00...done
Computing spread for 2017-01-01 15:30:00...done
Computing spread for 2017-01-01 15:35:00...done
Computing spread for 2017-01-01 15:40:00...done
Computing spread for 2017-01-01 15:45:00...done
Computing spread for 2017-01-01 15:50:00...done
Computing spread for 2017-01-01 15:55:00...done
Computing spread for 2017-01-01 16:00:00...done
Computing spread for 2017-01-01 16:05:00...done
Computing spread for 2017-01-01 16:10:00...done
Computing spread for 2017-01-01 16:15:00...done
Computing spread for 2017-01-01 16:20:00...done
Computing spread for 2017-01-01 16:25:00...done
Computing spread for 2017-01-01 16:30:00...done
Computing spread for 2017-01-01 16:35:00...done
Computing spread for 2017-01-01 16:40:00...done
Computing spread for 2017-01-01 16:45:00...done
Computing spread for 2017-01-01 16:50:00...done
Computing spread for 2017-01-01 16:55:00...done
Computing spread for 2017-01-01 17:00:00...done
Computing spread for 2017-01-01 17:05:00...done
Computing spread for 2017-01-01 17:10:00...done
Computing spread for 2017-01-01 17:15:00...done
Computing spread for 2017-01-01 17:20:00...done
Computing spread for 2017-01-01 17:25:00...done
Computing spread for 2017-01-01 17:30:00...done
Computing spread for 2017-01-01 17:35:00...done
Computing spread for 2017-01-01 17:40:00...done
Computing spread for 2017-01-01 17:45:00...done
Computing spread for 2017-01-01 17:50:00...done
Computing spread for 2017-01-01 17:55:00...done
Computing spread for 2017-01-01 18:00:00...done
Computing spread for 2017-01-01 18:05:00...done
Computing spread for 2017-01-01 18:10:00...done
Computing spread for 2017-01-01 18:15:00...done
Computing spread for 2017-01-01 18:20:00...done
Computing spread for 2017-01-01 18:25:00...done
Computing spread for 2017-01-01 18:30:00...done
Computing spread for 2017-01-01 18:35:00...done
Computing spread for 2017-01-01 18:40:00...done
Computing spread for 2017-01-01 18:45:00...done
Computing spread for 2017-01-01 18:50:00...done
Computing spread for 2017-01-01 18:55:00...done
Computing spread for 2017-01-01 19:00:00...done
Computing spread for 2017-01-01 19:05:00...done
Computing spread for 2017-01-01 19:10:00...done
Computing spread for 2017-01-01 19:15:00...done
Computing spread for 2017-01-01 19:20:00...done
Computing spread for 2017-01-01 19:25:00...done
Computing spread for 2017-01-01 19:30:00...done
Computing spread for 2017-01-01 19:35:00...done
Computing spread for 2017-01-01 19:40:00...done
Computing spread for 2017-01-01 19:45:00...done
Computing spread for 2017-01-01 19:50:00...done
Computing spread for 2017-01-01 19:55:00...done
Computing spread for 2017-01-01 20:00:00...done
Computing spread for 2017-01-01 20:05:00...done
Computing spread for 2017-01-01 20:10:00...done
Computing spread for 2017-01-01 20:15:00...done
Computing spread for 2017-01-01 20:20:00...done
Computing spread for 2017-01-01 20:25:00...done
Computing spread for 2017-01-01 20:30:00...done
Computing spread for 2017-01-01 20:35:00...done
Computing spread for 2017-01-01 20:40:00...done
Computing spread for 2017-01-01 20:45:00...done
Computing spread for 2017-01-01 20:50:00...done
Computing spread for 2017-01-01 20:55:00...done
Computing spread for 2017-01-01 21:00:00...done
Computing spread for 2017-01-01 21:05:00...done
Computing spread for 2017-01-01 21:10:00...done
Computing spread for 2017-01-01 21:15:00...done
Computing spread for 2017-01-01 21:20:00...done
Computing spread for 2017-01-01 21:25:00...done
Computing spread for 2017-01-01 21:30:00...done
Computing spread for 2017-01-01 21:35:00...done
Computing spread for 2017-01-01 21:40:00...done
Computing spread for 2017-01-01 21:45:00...done
Computing spread for 2017-01-01 21:50:00...done
Computing spread for 2017-01-01 21:55:00...done
Computing spread for 2017-01-01 22:00:00...done
Computing spread for 2017-01-01 22:05:00...done
Computing spread for 2017-01-01 22:10:00...done
Computing spread for 2017-01-01 22:15:00...done
Computing spread for 2017-01-01 22:20:00...done
Computing spread for 2017-01-01 22:25:00...done
Computing spread for 2017-01-01 22:30:00...done
Computing spread for 2017-01-01 22:35:00...done
Computing spread for 2017-01-01 22:40:00...done
Computing spread for 2017-01-01 22:45:00...done
Computing spread for 2017-01-01 22:50:00...done
Computing spread for 2017-01-01 22:55:00...done
Computing spread for 2017-01-01 23:00:00...done
Computing spread for 2017-01-01 23:05:00...done
Computing spread for 2017-01-01 23:10:00...done
Computing spread for 2017-01-01 23:15:00...done
Computing spread for 2017-01-01 23:20:00...done
Computing spread for 2017-01-01 23:25:00...done
Computing spread for 2017-01-01 23:30:00...done
Computing spread for 2017-01-01 23:35:00...done
Computing spread for 2017-01-01 23:40:00...done
Computing spread for 2017-01-01 23:45:00...done
Computing spread for 2017-01-01 23:50:00...done
Computing spread for 2017-01-01 23:55:00...done

0.24631944444444442

In [7]:
# Now let's look at library support which eliminates or simplifies some of the steps above.
#
# As in the first example, we start with library functions that can be used to download
# book data to local storage.  Let's say it again so we don't forget: book data is quite large,
# make sure you're on a reasonably fast connection before you download lots of data
from evekit.online.Download import download_order_book_range

# The book downloader lets you filter to specific types and regions for a date range.
# In this example, we only need Tritanium in The Forge on our target date, so this should
# download relatively quickly.  We'll store the download in our local directory in "tree"
# format (i.e. YYYY/MM/DD/files...)
download_order_book_range([compute_date], ".", types=[type_id], regions=[region_id], config={'verbose': True, 'tree': True})

Downloading 2017-01-01 00:00:00...done

In [8]:
# Previously, we iterated through each snapshot for our target date.  We can do this 
# a bit more tersely using the OrderBook library and loading the data in a Pandas DataFrame.
# This call creates a DataFrame where each row is an individual order indexed by 
# the time of the snapshot containing the order.  The DataFrame also contains type_id
# and region_id columns which can be used to filter as needed.
from evekit.marketdata import OrderBook

order_book = OrderBook.get_data_frame(dates=[compute_date], types=[type_id], regions=[region_id], 
                                      config=dict(local_storage=".", tree=True, skip_missing=True, verbose=True))

order_book

Retrieving 2017-01-01 00:00:00...done

,buy,date,duration,issued,location_id,min_volume,order_id,order_range,price,region_id,type_id,volume,volume_entered
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-14 08:49:22,60002242,1,4708935394,solarsystem,5.00,10000002,34,43758803,200000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-30 00:11:05,60001591,1,4719143619,station,4.86,10000002,34,13303703,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-29 12:22:35,60001594,1,4731076447,station,4.85,10000002,34,13381581,20000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-29 14:05:45,60002818,1,4731159119,station,4.83,10000002,34,9718405,30000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-29 15:06:24,60010819,1,4731212373,station,4.81,10000002,34,996935,1000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-31 17:20:36,60004051,1,4733726383,3,4.75,10000002,34,4900182,5000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-29 17:47:28,60003211,1000,4731376068,2,4.70,10000002,34,776638,5000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-13 03:24:26,60003055,1,4711604426,station,4.67,10000002,34,5000000,5000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-31 18:00:40,60003760,1,4733760768,1,4.66,10000002,34,1702478781,2000000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-04 18:43:39,60003760,1,4701276671,station,4.65,10000002,34,78774738,200000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-24 23:33:48,1021705628874,1,4726038430,1,4.63,10000002,34,27605009,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-03 07:55:24,60003760,1,4699131616,station,4.62,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,7,2016-12-30 12:08:57,60010195,1,4732257219,solarsystem,4.61,10000002,34,8642416,10000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-04 17:22:09,60003760,1,4701158083,station,4.60,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,3,2016-12-29 03:13:01,60002359,1,4730740860,station,4.52,10000002,34,80000,80000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-18 19:04:59,60002359,1,4714691792,station,4.51,10000002,34,5326094,8000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-03 17:01:01,60002290,1,4641995905,station,4.50,10000002,34,83947801,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-22 03:49:25,60002749,1,4722740618,solarsystem,4.49,10000002,34,29010498,30000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-24 09:00:18,60010195,1,4710737688,station,4.40,10000002,34,6199571,50000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-31 16:57:47,60014659,1,4733705222,solarsystem,4.26,10000002,34,910122,1500000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-28 18:11:51,60014659,1,4730236421,station,4.25,10000002,34,7847451,10000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-31 16:45:13,1021705628874,1000,4727637102,5,4.06,10000002,34,161739297,200000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-30 00:46:00,60003760,1,4731817819,station,4.05,10000002,34,10000000,10000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-30 15:20:52,60001873,1,3664144403,solarsystem,4.04,10000002,34,108280678,120000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-27 08:33:13,60004210,1,4725545268,3,4.03,10000002,34,98266117,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-29 05:05:49,60002284,1,4730814840,solarsystem,4.02,10000002,34,10000000,10000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-24 13:14:47,60003760,1,4725469328,station,4.01,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-28 15:26:24,1022719559274,1,4730065968,1,4.00,10000002,34,249999605,250000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-28 16:30:47,60003760,1,4730119998,5,3.92,10000002,34,18239,100000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-22 14:47:46,60003760,1,4723166699,station,3.54,10000002,34,1000000,1000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 12:10:55,60003760,1,4681666769,region,7.28,10000002,34,164455955,164683935
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-16 09:37:28,60003760,1,4678260794,region,7.30,10000002,34,1508235542,1543431331
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-02 09:36:51,60003760,1,4632008950,region,7.35,10000002,34,117783421,391573035
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-02 20:43:41,60003760,1,4698572263,region,7.50,10000002,34,200000,200000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-23 09:14:31,60003760,1,4686880621,region,7.67,10000002,34,200000,200000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-26 17:28:00,60003760,1,4691038023,region,7.81,10000002,34,21222143,21222143
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-29 15:09:10,60015027,1,4731199195,region,7.88,10000002,34,794495,794495
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-04 08:19:08,60003397,1,4668652750,region,7.95,10000002,34,879,62684
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-16 18:00:07,60015027,1,4678613063,region,7.99,10000002,34,1039171,2000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-02 23:44:00,60015027,1,4667785981,region,8.00,10000002,34,374824,500000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,7,2016-12-29 17:13:27,60002425,1,4731340364,region,8.03,10000002,34,23844,24444
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-16 06:10:57,60003760,1,4678146900,region,8.56,10000002,34,15250,15250
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-28 18:52:36,60015027,1,4730280765,region,8.90,10000002,34,319270,319270
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-18 07:58:12,60002425,1,4717853785,region,8.91,10000002,34,131196890,131197190
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-10-25 06:14:08,60015027,1,4555636520,region,8.96,10000002,34,653788,10000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-07 03:44:37,60004048,1,4704153614,region,8.99,10000002,34,9493301,20000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-29 21:49:28,60015027,1,4695249731,region,9.62,10000002,34,21111,21111
2017-01-01 23:55:00,False,2017-01-01 23:55:00,30,2016-12-04 06:57:41,60002353,1,4700509705,region,9.64,10000002,34,188745,394076
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-10-16 18:45:36,60012667,1,4655321688,region,9.97,10000002,34,1808068,2685188
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-21 10:08:12,60002359,1,4653192595,region,9.98,10000002,34,43069624,74884594
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-10-13 00:18:53,60002359,1,4652528843,region,9.99,10000002,34,5208286,5208286
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-06 18:01:17,60003760,1,4703599280,region,10.00,10000002,34,430683,430683
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-15 15:07:38,60015027,1,4677414908,region,12.00,10000002,34,17070,17070
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-10-26 04:44:06,60003079,1,4662198165,region,16.00,10000002,34,1873484,1873484
2017-01-01 23:55:00,False,2017-01-01 23:55:00,30,2016-12-23 00:22:19,60015027,1,4723760126,region,25.00,10000002,34,492956,492956
2017-01-01 23:55:00,False,2017-01-01 23:55:00,30,2016-12-19 00:36:09,60003760,1,4718987796,region,102.04,10000002,34,1,1
2017-01-01 23:55:00,False,2017-01-01 23:55:00,3,2016-12-31 04:46:49,60015027,1,4733165780,region,1000.00,10000002,34,4791,4791
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 06:16:33,60015027,1,4681406417,region,10000.00,10000002,34,1,1
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-10 18:17:34,60003760,1,4708400130,region,1000000.00,10000002,34,1,1
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-24 21:17:26,60003760,1,4725922117,region,1873484.00,10000002,34,1,1

In [9]:
# DataFrame operations allow us to compute average spread by concatenating a few basic operations
# But first, let's walk through it step by step so we can explain each operation.
#
# We start by eliminating all orders that aren't at our target station
filtered = order_book[order_book.location_id == station_id]

filtered

,buy,date,duration,issued,location_id,min_volume,order_id,order_range,price,region_id,type_id,volume,volume_entered
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-31 18:00:40,60003760,1,4733760768,1,4.66,10000002,34,1702478781,2000000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-04 18:43:39,60003760,1,4701276671,station,4.65,10000002,34,78774738,200000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-03 07:55:24,60003760,1,4699131616,station,4.62,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-04 17:22:09,60003760,1,4701158083,station,4.60,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-30 00:46:00,60003760,1,4731817819,station,4.05,10000002,34,10000000,10000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-24 13:14:47,60003760,1,4725469328,station,4.01,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-28 16:30:47,60003760,1,4730119998,5,3.92,10000002,34,18239,100000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,30,2016-12-22 14:47:46,60003760,1,4723166699,station,3.54,10000002,34,1000000,1000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-30 21:49:51,60003760,1,4732829596,station,3.50,10000002,34,432000,432000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-11-30 22:12:33,60003760,1,4696407011,station,2.03,10000002,34,6500000,6500000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-22 02:40:28,60003760,1,4722693092,40,1.00,10000002,34,94442990,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,7,2016-12-25 22:08:09,60003760,1,4727051122,3,0.10,10000002,34,20000000,20000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-12-04 19:25:33,60003760,1,4701331362,station,0.06,10000002,34,100000000,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-11-20 15:41:04,60003760,1,4647080938,40,0.05,10000002,34,99582322,100000000
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-10-23 22:31:01,60003760,1,4660693701,40,0.04,10000002,34,2147459887,2147483647
2017-01-01 00:00:00,True,2017-01-01 00:00:00,90,2016-11-08 19:30:53,60003760,1,4672262015,station,0.01,10000002,34,300000000,300000000
2017-01-01 00:00:00,False,2017-01-01 00:00:00,14,2016-12-31 23:29:30,60003760,1,4734012460,region,4.98,10000002,34,18203348,93203348
2017-01-01 00:00:00,False,2017-01-01 00:00:00,30,2016-12-31 23:27:54,60003760,1,4733958972,region,5.04,10000002,34,216035544,279747003
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-31 23:21:10,60003760,1,4734006417,region,5.05,10000002,34,284908507,286799330
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-31 20:13:55,60003760,1,4733872149,region,5.09,10000002,34,47683843,151742512
2017-01-01 00:00:00,False,2017-01-01 00:00:00,30,2016-12-30 22:25:27,60003760,1,4732869553,region,5.10,10000002,34,48785194,103945003
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-30 10:20:19,60003760,1,4732193443,region,5.13,10000002,34,114509016,276929603
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-30 08:04:57,60003760,1,4732109315,region,5.15,10000002,34,290865838,290865838
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-30 05:38:29,60003760,1,4732021836,region,5.16,10000002,34,1486362592,1486362592
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-24 05:22:59,60003760,1,4725141509,region,5.17,10000002,34,471384990,471384990
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-23 16:55:54,60003760,1,4724477047,region,5.18,10000002,34,172145558,172145558
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-30 18:22:23,60003760,1,4706195881,region,5.19,10000002,34,450000000,450000000
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-30 06:00:56,60003760,1,4732035985,region,5.20,10000002,34,53123,53123
2017-01-01 00:00:00,False,2017-01-01 00:00:00,7,2016-12-30 21:06:51,60003760,1,4732783920,region,5.22,10000002,34,998367,998367
2017-01-01 00:00:00,False,2017-01-01 00:00:00,90,2016-12-31 11:31:22,60003760,1,4733417226,region,5.24,10000002,34,121852,121852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-05 19:01:16,60003760,1,4702503505,region,6.09,10000002,34,41909,41909
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-29 19:33:58,60003760,1,4695094410,region,6.10,10000002,34,13382565,13382565
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-24 00:33:51,60003760,1,4687752285,region,6.12,10000002,34,900949,900949
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-04 19:39:18,60003760,1,4701349628,region,6.14,10000002,34,100000000,100000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-22 08:43:16,60003760,1,4685637994,region,6.19,10000002,34,1796388,1796388
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-23 14:24:17,60003760,1,4687087329,region,6.20,10000002,34,83307123,83307123
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-21 23:18:49,60003760,1,4685244987,region,6.24,10000002,34,9338332,9338332
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-11 23:23:42,60003760,1,4684483162,region,6.25,10000002,34,46640932,63862461
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-22 14:46:18,60003760,1,4685874408,region,6.26,10000002,34,100000000,100000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-21 08:08:48,60003760,1,4684417719,region,6.31,10000002,34,50000000,50000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-22 03:02:13,60003760,1,4685420860,region,6.36,10000002,34,20898875,20898875
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-22 08:24:22,60003760,1,4685625845,region,6.39,10000002,34,33079867,33079867
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 14:22:26,60003760,1,4681804391,region,6.45,10000002,34,673201903,673201903
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-20 23:08:39,60003760,1,4684025125,region,6.55,10000002,34,2146385,2146385
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 13:40:06,60003760,1,4681757471,region,6.57,10000002,34,2282,2282
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 12:57:20,60003760,1,4681637403,region,6.70,10000002,34,57633272,100000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 12:54:17,60003760,1,4681708628,region,6.71,10000002,34,1341830,7157768
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 12:34:48,60003760,1,4681689358,region,6.75,10000002,34,126661444,150000000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-21 17:54:41,60003760,1,4684862330,region,6.80,10000002,34,10000,10000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-19 12:10:55,60003760,1,4681666769,region,7.28,10000002,34,164455955,164683935
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-16 09:37:28,60003760,1,4678260794,region,7.30,10000002,34,1508235542,1543431331
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-02 09:36:51,60003760,1,4632008950,region,7.35,10000002,34,117783421,391573035
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-02 20:43:41,60003760,1,4698572263,region,7.50,10000002,34,200000,200000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-23 09:14:31,60003760,1,4686880621,region,7.67,10000002,34,200000,200000
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-26 17:28:00,60003760,1,4691038023,region,7.81,10000002,34,21222143,21222143
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-11-16 06:10:57,60003760,1,4678146900,region,8.56,10000002,34,15250,15250
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-06 18:01:17,60003760,1,4703599280,region,10.00,10000002,34,430683,430683
2017-01-01 23:55:00,False,2017-01-01 23:55:00,30,2016-12-19 00:36:09,60003760,1,4718987796,region,102.04,10000002,34,1,1
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-10 18:17:34,60003760,1,4708400130,region,1000000.00,10000002,34,1,1
2017-01-01 23:55:00,False,2017-01-01 23:55:00,90,2016-12-24 21:17:26,60003760,1,4725922117,region,1873484.00,10000002,34,1,1

In [10]:
# Since spread is computed by snapshot, we need to recover the snapshots which we can
# do by grouping by index (recall that the index is essentially the snapshot time of
# each order)
#
groups = filtered.groupby(filtered.index)

groups

In [11]:
# Each group in the group object is a DataFrame representing a snapshot indexed by snapshot time
#
df = groups.get_group(filtered.index[0])

df

,buy,date,duration,issued,location_id,min_volume,order_id,order_range,price,region_id,type_id,volume,volume_entered
2017-01-01,True,2017-01-01,90,2016-12-31 18:00:40,60003760,1,4733760768,1,4.66,10000002,34,1702478781,2000000000
2017-01-01,True,2017-01-01,30,2016-12-04 18:43:39,60003760,1,4701276671,station,4.65,10000002,34,78774738,200000000
2017-01-01,True,2017-01-01,90,2016-12-03 07:55:24,60003760,1,4699131616,station,4.62,10000002,34,100000000,100000000
2017-01-01,True,2017-01-01,90,2016-12-04 17:22:09,60003760,1,4701158083,station,4.60,10000002,34,100000000,100000000
2017-01-01,True,2017-01-01,90,2016-12-30 00:46:00,60003760,1,4731817819,station,4.05,10000002,34,10000000,10000000
2017-01-01,True,2017-01-01,90,2016-12-24 13:14:47,60003760,1,4725469328,station,4.01,10000002,34,100000000,100000000
2017-01-01,True,2017-01-01,90,2016-12-28 16:30:47,60003760,1,4730119998,5,3.92,10000002,34,18239,100000
2017-01-01,True,2017-01-01,30,2016-12-22 14:47:46,60003760,1,4723166699,station,3.54,10000002,34,1000000,1000000
2017-01-01,True,2017-01-01,90,2016-12-30 21:49:51,60003760,1,4732829596,station,3.50,10000002,34,432000,432000
2017-01-01,True,2017-01-01,90,2016-11-30 22:12:33,60003760,1,4696407011,station,2.03,10000002,34,6500000,6500000
2017-01-01,True,2017-01-01,90,2016-12-22 02:40:28,60003760,1,4722693092,40,1.00,10000002,34,94442990,100000000
2017-01-01,True,2017-01-01,7,2016-12-25 22:08:09,60003760,1,4727051122,3,0.10,10000002,34,20000000,20000000
2017-01-01,True,2017-01-01,90,2016-12-04 19:25:33,60003760,1,4701331362,station,0.06,10000002,34,100000000,100000000
2017-01-01,True,2017-01-01,90,2016-11-20 15:41:04,60003760,1,4647080938,40,0.05,10000002,34,99582322,100000000
2017-01-01,True,2017-01-01,90,2016-10-23 22:31:01,60003760,1,4660693701,40,0.04,10000002,34,2147459887,2147483647
2017-01-01,True,2017-01-01,90,2016-11-08 19:30:53,60003760,1,4672262015,station,0.01,10000002,34,300000000,300000000
2017-01-01,False,2017-01-01,14,2016-12-31 23:29:30,60003760,1,4734012460,region,4.98,10000002,34,18203348,93203348
2017-01-01,False,2017-01-01,30,2016-12-31 23:27:54,60003760,1,4733958972,region,5.04,10000002,34,216035544,279747003
2017-01-01,False,2017-01-01,90,2016-12-31 23:21:10,60003760,1,4734006417,region,5.05,10000002,34,284908507,286799330
2017-01-01,False,2017-01-01,90,2016-12-31 20:13:55,60003760,1,4733872149,region,5.09,10000002,34,47683843,151742512
2017-01-01,False,2017-01-01,30,2016-12-30 22:25:27,60003760,1,4732869553,region,5.10,10000002,34,48785194,103945003
2017-01-01,False,2017-01-01,90,2016-12-30 10:20:19,60003760,1,4732193443,region,5.13,10000002,34,114509016,276929603
2017-01-01,False,2017-01-01,90,2016-12-30 08:04:57,60003760,1,4732109315,region,5.15,10000002,34,290865838,290865838
2017-01-01,False,2017-01-01,90,2016-12-30 05:38:29,60003760,1,4732021836,region,5.16,10000002,34,1486362592,1486362592
2017-01-01,False,2017-01-01,90,2016-12-24 05:22:59,60003760,1,4725141509,region,5.17,10000002,34,471384990,471384990
2017-01-01,False,2017-01-01,90,2016-12-23 16:55:54,60003760,1,4724477047,region,5.18,10000002,34,172145558,172145558
2017-01-01,False,2017-01-01,90,2016-12-30 18:22:23,60003760,1,4706195881,region,5.19,10000002,34,450000000,450000000
2017-01-01,False,2017-01-01,90,2016-12-30 06:00:56,60003760,1,4732035985,region,5.20,10000002,34,53123,53123
2017-01-01,False,2017-01-01,7,2016-12-30 21:06:51,60003760,1,4732783920,region,5.22,10000002,34,998367,998367
2017-01-01,False,2017-01-01,90,2016-12-31 11:31:22,60003760,1,4733417226,region,5.24,10000002,34,121852,121852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-01,False,2017-01-01,90,2016-12-05 19:01:16,60003760,1,4702503505,region,6.09,10000002,34,41909,41909
2017-01-01,False,2017-01-01,90,2016-11-29 19:33:58,60003760,1,4695094410,region,6.10,10000002,34,13382565,13382565
2017-01-01,False,2017-01-01,90,2016-11-24 00:33:51,60003760,1,4687752285,region,6.12,10000002,34,900949,900949
2017-01-01,False,2017-01-01,90,2016-12-04 19:39:18,60003760,1,4701349628,region,6.14,10000002,34,100000000,100000000
2017-01-01,False,2017-01-01,90,2016-11-22 08:43:16,60003760,1,4685637994,region,6.19,10000002,34,1796388,1796388
2017-01-01,False,2017-01-01,90,2016-11-23 14:24:17,60003760,1,4687087329,region,6.20,10000002,34,83307123,83307123
2017-01-01,False,2017-01-01,90,2016-11-21 23:18:49,60003760,1,4685244987,region,6.24,10000002,34,9338332,9338332
2017-01-01,False,2017-01-01,90,2016-12-11 23:23:42,60003760,1,4684483162,region,6.25,10000002,34,46640932,63862461
2017-01-01,False,2017-01-01,90,2016-11-22 14:46:18,60003760,1,4685874408,region,6.26,10000002,34,100000000,100000000
2017-01-01,False,2017-01-01,90,2016-11-21 08:08:48,60003760,1,4684417719,region,6.31,10000002,34,50000000,50000000
2017-01-01,False,2017-01-01,90,2016-11-22 03:02:13,60003760,1,4685420860,region,6.36,10000002,34,20898875,20898875
2017-01-01,False,2017-01-01,90,2016-11-22 08:24:22,60003760,1,4685625845,region,6.39,10000002,34,33079867,33079867
2017-01-01,False,2017-01-01,90,2016-11-19 14:22:26,60003760,1,4681804391,region,6.45,10000002,34,673201903,673201903
2017-01-01,False,2017-01-01,90,2016-12-05 20:38:59,60003760,1,4702619555,region,6.50,10000002,34,2147483647,2147483647
2017-01-01,False,2017-01-01,90,2016-11-20 23:08:39,60003760,1,4684025125,region,6.55,10000002,34,2146385,2146385
2017-01-01,False,2017-01-01,90,2016-11-19 13:40:06,60003760,1,4681757471,region,6.57,10000002,34,2282,2282
2017-01-01,False,2017-01-01,90,2016-11-19 12:57:20,60003760,1,4681637403,region,6.70,10000002,34,57633272,100000000
2017-01-01,False,2017-01-01,90,2016-11-19 12:54:17,60003760,1,4681708628,region,6.71,10000002,34,1341830,7157768
2017-01-01,False,2017-01-01,90,2016-11-19 12:34:48,60003760,1,4681689358,region,6.75,10000002,34,126661444,150000000
2017-01-01,False,2017-01-01,90,2016-11-21 17:54:41,60003760,1,4684862330,region,6.80,10000002,34,10000,10000
2017-01-01,False,2017-01-01,90,2016-11-19 12:10:55,60003760,1,4681666769,region,7.28,10000002,34,164455955,164683935
2017-01-01,False,2017-01-01,90,2016-11-16 09:37:28,60003760,1,4678260794,region,7.30,10000002,34,1508235542,1543431331
2017-01-01,False,2017-01-01,90,2016-11-02 09:36:51,60003760,1,4632008950,region,7.35,10000002,34,117783421,391573035
2017-01-01,False,2017-01-01,90,2016-12-02 20:43:41,60003760,1,4698572263,region,7.50,10000002,34,200000,200000
2017-01-01,False,2017-01-01,90,2016-11-23 09:14:31,60003760,1,4686880621,region,7.67,10000002,34,200000,200000
2017-01-01,False,2017-01-01,90,2016-11-26 17:28:00,60003760,1,4691038023,region,7.81,10000002,34,21222143,21222143
2017-01-01,False,2017-01-01,90,2016-11-16 06:10:57,60003760,1,4678146900,region,8.56,10000002,34,15250,15250
2017-01-01,False,2017-01-01,30,2016-12-19 00:36:09,60003760,1,4718987796,region,102.04,10000002,34,1,1
2017-01-01,False,2017-01-01,90,2016-12-10 18:17:34,60003760,1,4708400130,region,1000000.00,10000002,34,1,1
2017-01-01,False,2017-01-01,90,2016-12-24 21:17:26,60003760,1,4725922117,region,1873484.00,10000002,34,1,1

In [12]:
# We can implement a simple function to compute the spread given a group object DataFrame.
# Note that we still have to handle the case where there may be no buys or sells.  When
# we encounter such cases, we return a NaN which is conveniently ignored by the Pandas
# mean function.
#
def spread_df(df):
    if df[df.buy == True].index.size == 0 or df[df.buy == False].index.size == 0:
        return np.NaN

    return df[df.buy == False].sort_values('price', ascending=True).ix[0].price - \
           df[df.buy == True].sort_values('price', ascending=False).ix[0].price

spread_df(df)

0.32000000000000028

In [13]:
# Finally, we can apply our spread function to the groups and compute the mean (which excludes NaN automatically)
groups.apply(spread_df).mean()

0.24631944444444442

In [14]:
# Here's the whole thing as a one liner (except for the spread_df function)
#
order_book[order_book.location_id == station_id].groupby(order_book[order_book.location_id == station_id].index)\
                                                .apply(spread_df)\
                                                .mean()

0.24631944444444442